<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:cache="http://www.springframework.org/schema/cache"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-4.2.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

       <!--<context:component-scan base-package="com.infore.controller" />-->

       <!--<import resource="classpath:disconf.xml" />-->

  <!--<cache:annotation-driven cache-manager="cacheManager" />-->
  <!--<bean id="cacheManager" class="org.springframework.cache.guava.GuavaCacheManager">
    <property name="cacheSpecification" value="concurrencyLevel=4,expireAfterWrite=60s" />
    <property name="cacheNames">
      <list>
        <value>menuCache</value>
      </list>
    </property>
  </bean>-->
</beans>