# Created by .ignore support plugin (hsz.mobi)
.classpath
.project
.settings/
target/
*.log*
.idea/
*.iml
/.idea/
customer-api/d:/
customer-api/src/main/java/com/infore/controller/sysconfig/advance/IotBasStoreSpanController.java
