<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infore.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.infore.model.Menu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="is_show" jdbcType="CHAR" property="isShow" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pid, type, name, url, is_show, remarks, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.infore.model.Menu">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_menu (pid, type, name, 
      url, is_show, remarks, 
      create_date, update_date)
    values (#{pid,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, #{name,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{isShow,jdbcType=CHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.infore.model.Menu">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="isShow != null">
        is_show,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null">
        #{isShow,jdbcType=CHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.infore.model.Menu">
    update sys_menu
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null">
        is_show = #{isShow,jdbcType=CHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.infore.model.Menu">
    update sys_menu
    set pid = #{pid,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      is_show = #{isShow,jdbcType=CHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryByParam" parameterType="com.infore.model.Menu" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_menu
    where 1=1
    <if test="pid != null">
      and pid = #{pid,jdbcType=INTEGER}
    </if>
    <if test="type != null">
      and type = #{type,jdbcType=TINYINT}
    </if>
    <if test="name != null">
      and name = #{name,jdbcType=VARCHAR}
    </if>
    <if test="url != null">
      and url = #{url,jdbcType=VARCHAR}
    </if>
    <if test="isShow != null">
      and is_show = #{isShow,jdbcType=CHAR}
    </if>
  </select>

  <select id="querySources" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_menu
    where 1=1
    <if test="type != null">
      and type = #{type,jdbcType=TINYINT}
    </if>
    <if test="queryLike != null">
      and ( name like '%${queryLike}%' or url like '%${queryLike}%')
    </if>
  </select>

  <select id="queryMenuIdByRoleId" parameterType="java.util.Map" resultMap="BaseResultMap">
    select m.id
    from sys_menu m
    left join sys_menu_role r on m.id=r.menu_id
    where 1=1
    <if test="menu.type != null">
      and type = #{menu.type}
    </if>
    <if test="roleId != null">
      and r.role_id=#{roleId}
    </if>
  </select>

  <select id="querySourcesByRoleId" parameterType="com.infore.model.Menu" resultMap="BaseResultMap">
    select m.id,m.name,m.url,m.is_show
    from sys_menu m
    left join sys_menu_role r on m.id=r.menu_id
    where m.type=99 and r.role_id=#{roleId}
  </select>
  <select id="queryMenuByRoleIds" parameterType="java.util.Map" resultMap="BaseResultMap">
    select m.id,m.pid,m.name,m.url,m.is_show
    from sys_menu m
    left join ( select distinct(menu_id) menuId from sys_menu_role
              where role_id in
                <foreach collection="roleIds" item="roleId" open="("  separator="," close=")">
                  #{roleId}
                </foreach>
        ) tmp
    on tmp.menuId=m.id
    where m.type=1 and tmp.menuId is not null;
  </select>
</mapper>