<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infore.mapper.TAccountTransMapper">
  <resultMap id="BaseResultMap" type="com.infore.model.TAccountTrans">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account_id" jdbcType="INTEGER" property="accountId" />
    <result column="tans_amout" jdbcType="INTEGER" property="tansAmout" />
    <result column="trans_date" jdbcType="TIMESTAMP" property="transDate" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account_id, tans_amout, trans_date, status, remark, create_user, create_time, 
    update_user, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_account_trans
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_account_trans
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.infore.model.TAccountTrans">
    insert into t_account_trans (id, account_id, tans_amout, 
      trans_date, status, remark, 
      create_user, create_time, update_user, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{accountId,jdbcType=INTEGER}, #{tansAmout,jdbcType=INTEGER}, 
      #{transDate,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.infore.model.TAccountTrans">
    insert into t_account_trans
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="tansAmout != null">
        tans_amout,
      </if>
      <if test="transDate != null">
        trans_date,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="tansAmout != null">
        #{tansAmout,jdbcType=INTEGER},
      </if>
      <if test="transDate != null">
        #{transDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.infore.model.TAccountTrans">
    update t_account_trans
    <set>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="tansAmout != null">
        tans_amout = #{tansAmout,jdbcType=INTEGER},
      </if>
      <if test="transDate != null">
        trans_date = #{transDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.infore.model.TAccountTrans">
    update t_account_trans
    set account_id = #{accountId,jdbcType=INTEGER},
      tans_amout = #{tansAmout,jdbcType=INTEGER},
      trans_date = #{transDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectListByPagination" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_account_trans
    <where>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER}
      </if>
      <if test="accountId != null">
          and account_id = #{accountId,jdbcType=INTEGER}
      </if>
      <if test="tansAmout != null">
          and tans_amout = #{tansAmout,jdbcType=INTEGER}
      </if>
      <if test="transDate != null">
          and trans_date = #{transDate,jdbcType=TIMESTAMP}
      </if>
      <if test="status != null">
          and status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="remark != null">
          and remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="createUser != null">
          and create_user = #{createUser,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
          and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateUser != null">
          and update_user = #{updateUser,jdbcType=INTEGER}
      </if>
      <if test="updateTime != null">
          and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectListByEntity" parameterType="com.infore.model.TAccountTrans" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_account_trans
    <where>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER}
      </if>
      <if test="accountId != null">
          and account_id = #{accountId,jdbcType=INTEGER}
      </if>
      <if test="tansAmout != null">
          and tans_amout = #{tansAmout,jdbcType=INTEGER}
      </if>
      <if test="transDate != null">
          and trans_date = #{transDate,jdbcType=TIMESTAMP}
      </if>
      <if test="status != null">
          and status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="remark != null">
          and remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="createUser != null">
          and create_user = #{createUser,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
          and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateUser != null">
          and update_user = #{updateUser,jdbcType=INTEGER}
      </if>
      <if test="updateTime != null">
          and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
</mapper>